/* ==========================
   FORENZIA
========================== */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111214;
    font-family:'Poppins',sans-serif;
    color:white;
    overflow-x:hidden;

}

/* ---------- PORTADA ---------- */

.hero{

width:min(1100px,94%);

height:430px;

margin:35px auto 0;

border-radius:28px;

overflow:hidden;

position:relative;

box-shadow:0 25px 70px rgba(0,0,0,.45);

}

.hero img{

width:100%;
height:100%;

object-fit:cover;

object-position:center;

transition:.5s;

}

.hero:hover img{

transform:scale(1.04);

}

.hero::after{

content:"";
position:absolute;

left:0;
top:0;
right:0;
bottom:0;

background:linear-gradient(
to bottom,
rgba(0,0,0,.15),
rgba(0,0,0,.55),
#111214
);

}

/* ---------- TITULO ---------- */

.hero-content{

position:absolute;

left:50%;
bottom:45px;

transform:translateX(-50%);

z-index:20;

text-align:center;

width:100%;

}

.hero-content h1{

font-family:'Cinzel',serif;

font-size:70px;

letter-spacing:8px;

color:#d5b27a;

text-shadow:0px 5px 25px rgba(0,0,0,.45);

}

.hero-content p{

margin-top:12px;

letter-spacing:5px;

font-size:18px;

color:#ddd;

}

/* ---------- CONTENIDO ---------- */

.container{

width:min(850px,92%);

margin:auto;

padding:50px 0 70px;

}

/* ---------- TARJETAS ---------- */

.card{

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(255,255,255,.04);

backdrop-filter:blur(15px);

border:1px solid rgba(213,178,122,.35);

border-radius:18px;

padding:22px 28px;

margin-bottom:20px;

transition:.30s;

cursor:pointer;

text-decoration:none;

color:white;

}

.card:hover{

transform:translateY(-5px);

background:rgba(255,255,255,.07);

border-color:#d5b27a;

box-shadow:0 15px 30px rgba(0,0,0,.25);

}

.left{

display:flex;

align-items:center;

gap:18px;

}

.icon{

font-size:30px;

}

.title{

font-size:23px;

font-weight:500;

}

.arrow{

font-size:34px;

color:#d5b27a;

}

/* ---------- FOOTER ---------- */

footer{

margin-top:60px;

text-align:center;

color:#888;

line-height:30px;

font-size:15px;

}

/* ---------- CELULAR ---------- */

@media(max-width:700px){

.hero{

height:45vh;

}

.hero-content h1{

font-size:42px;

letter-spacing:4px;

}

.hero-content p{

font-size:15px;

letter-spacing:2px;

}

.title{

font-size:19px;

}

}
